# --- Python (Catsy-Backend) ---
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
db.sqlite3

# --- Node/React (Catsy-Web) ---
node_modules/
dist/
dist-ssr
*.local
.eslintcache

# --- Flutter (Catsy-Mobile) ---
.dart_tool/
.packages
.pub-cache/
.pub/
build/
ios/Flutter/Generated.xcconfig
android/local.properties
**/*.pks
**/*.keystore

# --- System & Editors ---
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# --- Flutter Specific Ignore Rules ---
# Desktop Platforms (Not targeted)
**/linux/
**/macos/
**/windows/

# Framework Data & Build Outputs
**/.dart_tool/
**/.packages
**/build/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/pubspec.lock


milestone_2.md