.logoWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.svgContainer {
    width: 100%;
    height: 100%;
    max-width: 100%;
    overflow: visible !important;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
    will-change: transform;
}